.grid {
    height: 80vh;
    display: grid;
    max-width: 800px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
    margin: 0px 300px;
    grid-gap: 0px;
}

.box {
    border: 1px solid black;
}

