.grid {
    height: 80vh;
    display: grid;
    max-width: 800px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
    margin: 0px 300px;
    grid-gap: 0px;
}

.box {
    border: 1px solid black;
    font-family: sans-serif, 'Segoe-UI';
    font-size: 4em;
}

.box p {
    text-align: center;
    margin: 0 auto;
    width: 50%;
}

